* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: #EBEBD8;
    
}

.header {
    /* 
    font-style: italic;
    */
}

.container {
    margin: 80px 50px 50px 50px ;
}

nav {
    position:fixed
    0,0,0,0 ;
}
